:root {
    --main-bg-clr: #1a1a1a;
    --memo-border-clr: rgb(187, 247, 6);
    --memo-bg-clr: #bbf70629;
}

@font-face {
    /*  Side Note:
        There are some nuisances in using fonts. You can watch youtube video "How to host your own fonts made simple" 
        by Kevin Powell. You can also read the following article:
            https://medium.com/@aitareydesign/understanding-of-font-formats-ttf-otf-woff-eot-svg-e55e00a1ef2.
        
        Generally speaking, use woff2 and woff. See also https://stackoverflow.com/a/11002874.
    */
    font-family: "pixel";
    src: url("/public/fonts/Advanced_Pixel-7.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    /* If for whatever reason the browser could not load "pixel", the backup fonts (coming after) will be used. */
    font-family: "pixel", 'Courier New', Courier, monospace;
    width: 100%;
    /* Remember: Always avoid setting "height". Set "min-height" if necessary. */
    min-height: 200vh;
    
    background-color: var(--main-bg-clr);

    /*  We need the following so that <main> would stretch the whole height. We tried "height:100%" on <main> but it
        didn't work. So we used the trick from the first COMMENT below question https://stackoverflow.com/q/1122381.    
    */
    display: flex;
    align-items: stretch;
}

main {
    position: relative;
    width: 100%;
}

.board {
    position: absolute;
    inset: 8px 8px;
    border: 1px solid white;
}

